<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fun Budgeting</title>
    <style>
        h1 {
            color: #0066cc;
            margin-top: 100px; 
        }
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            margin: 50px;
        }

    </style>
</head>
<body>
    <h1>Let's make budgeting fun!</h1>
    <div class = loginButton>
    <a href="/login">Login</a>
    <!-- <button type="button" id="loginButton" routerLink="/login">Login</button> -->
</div>
</body>
</html>
