table {
    width: 100%;
    border-collapse: collapse;
  }
  
  table th,
  table td {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: left;
  }
  
  table th {
    background-color: #004977;
    color: #fff;
  }

.filters{
    position: relative;
    float: right;
    margin-bottom: 20px;
    margin-right: 20px;
}
.filters label{
    padding: 5px;
}

.container{
    width: 100%;
}