<nav class="navBar">
  <div class="navLogo">
      <a routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page">
        <img src="../assets/capitalonelogo.png" class="logo">
      </a>
  </div>
  <div class="navItems">
    <a routerLink="/dashboard">Dashboard</a>
    <!-- <a *ngIf="authService.isLoggedIn()" routerLink="/signout">Sign Out</a>
    <a *ngIf="!authService.isLoggedIn()" routerLink="/login">Login</a> -->
  </div>
  <div class="hamburger">
    <span id="openHamburger">&#9776;</span>
    <span id="closeHamburger">&#9776;</span>
  </div>
</nav>

