<nav class="navBar">
  <div class="navLogo">
      <a routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page">
        <img src="../assets/capitalonelogo.png" class="logo">
      </a>
  </div>
  <div class="navItems">
    <a *ngIf="(isLoggedIn$ | async)" routerLink="/dashboard">Dashboard</a>
    <a *ngIf="(isLoggedIn$ | async)" routerLink="/leaderboard">Leaderboard</a>
    <a *ngIf="(isLoggedIn$ | async)" routerLink="/home">Log Out</a>
    <a *ngIf="!(isLoggedIn$ | async)" (click)="openSignupDialog()" class="links">Sign up</a>
    <a *ngIf="!(isLoggedIn$ | async)" (click)="openLoginDialog()" class="links">Login</a>
  </div>
  <div class="hamburger">
    <span id="openHamburger">&#9776;</span>
    <span id="closeHamburger">&#9776;</span>
  </div>
</nav>

