<nav class="navBar">
  <div class="navLogo">
      <a routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page">
        <img src="../assets/capitalonelogo.png" class="logo">
      </a>
  </div>
  <div class="navItems">
    <a routerLink="/dashboard">Dashboard</a>
    <a routerLink="/leaderboard">Leaderboard</a>
    <a *ngIf="!(isLoggedIn$ | async)" routerLink="/signup">Sign Up</a>
    <a *ngIf="!(isLoggedIn$ | async)" routerLink="/login">Login</a>
    <a *ngIf="isLoggedIn$ | async" (click)="logout()" routerLink="/home">Log Out</a>
  </div>
  <div class="hamburger">
    <span id="openHamburger">&#9776;</span>
    <span id="closeHamburger">&#9776;</span>
  </div>
</nav>

