<div class="container">
  <h2 class="header">Leaderboard</h2>

  <h2>Leaderboard</h2>

  <!-- Dropdown menu -->
  <label for="leaderboardOptions">Select Leaderboard:</label>
  <select id="leaderboardOptions" [(ngModel)]="selectedOption" (change)="onLeaderboardOptionChange()">
    <option value="showAll">Show All</option>
    <option value="showMonth">Monthly</option>
    <!-- Add more options if needed -->
  </select>

  <!-- Dropdown menus for month and year -->
  <div *ngIf="selectedOption === 'showMonth'">
    <label for="month">Month:</label>
    <select id="month" [(ngModel)]="selectedMonth">
      <option *ngFor="let month of months" [value]="month.value">{{ month.label }}</option>
    </select>

    <label for="year">Year:</label>
    <select id="year" [(ngModel)]="selectedYear">
      <option *ngFor="let year of years" [value]="year">{{ year }}</option>
    </select>

    <button (click)="executeLeaderboardFunction()">Submit</button>
  </div>

  <table class="leaderboard-table">
    <thead>
      <tr>
        <th>Rank #</th>
        <th>Name</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let person of leaderboardData; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ person.Name }}</td>
        <td>{{ person.Total }} USD</td>
      </tr>
    </tbody>
  </table>
</div>
