.leaderboard-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .leaderboard-table th,
  .leaderboard-table td {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: left;
  }
  
  .leaderboard-table th {
    background-color: #004977;
    color: #fff;
  }

  .container {
    font-family: 'Jost', sans-serif;
  }
  
  .header {
    text-align: center;
    font-size: 32px;
    margin-bottom: 50px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  input[type="text"],
  input[type="password"],
  select,
  button {
    width: 50%; /* Adjust width as needed */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 0 auto;
    display: block;
    margin-bottom: 10px;
  }
  
  select {
    width: 10%; /* Set width to auto to allow natural width */
    display: inline-block; /* Display inline-block to align horizontally */
    margin-right: 10px; /* Adjust margin as needed */
  }
  
  button {
    width: 15%; /* Adjust width as needed */
    padding: 8px; /* Adjust padding as needed */
    background-color: #004977;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block; /* Display inline-block to align horizontally */
    vertical-align: top; /* Align button with the top of the select elements */
  }
  
  button:hover {
    background-color: #2976a6;
  }
  
  .buttonContainer {
    text-align: center;
  }
  
  .form-group.inline {
    display: flex;
    justify-content: space-between;
  }
  
  .select-container {
    width: 25%; /* Adjust width as needed */
  }
  
  
  
  