<br>
<br>
<br>
<h1 class="PageTitle">Categories Leaderboard</h1>
<div class="container">
  
  <!-- Month and Year Filters -->
  <div class="filters">
    <label for="monthSelect">Month </label>
    <select id="monthSelect" [(ngModel)]="selectedMonth" (change)="onMonthChange(selectedMonth)" name="month">
      <option *ngFor="let month of months" [value]="month">{{ month }}</option>
    </select>
  
    <label for="yearSelect">Year </label>
    <select id="yearSelect" [(ngModel)]="selectedYear" (change)="onYearChange(selectedYear)" name="year">
      <option *ngFor="let year of years" [value]="year">{{ year }}</option>
    </select>
  </div>
  

  <!-- Categories Data Table -->
  <div *ngIf="categoriesData">
    <table class="table">
      <thead>
        <tr>
          <th>Category</th>
          <th>My Expenses</th>
          <th>Community's Average</th>
          <th>Target Expense</th>
          <th>Community's Target</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let category of categoriesData | keyvalue">
          <td class="expenseCategory">{{ category.key }}</td>
          <td [style.color]="category.value['User Average'] < category.value['Community Average'] ? 'green' : 'red'">
            {{ category.value['User Average'] | currency }}
          </td>
          <td>{{ category.value['Community Average'] | currency }}</td>
          <td [style.color]="category.value['User Target'] < category.value['Community Target'] ? 'green' : 'red'">
            {{ category.value['User Target'] | currency }}
          </td>
          <td>{{ category.value['Community Target'] | currency }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

  
  