<div class="container">
<div class="textInput-Container">
<form>
    <label for="age">Age</label>
    <input type="number" name="age" id="age">
    <label for="pRetirementAge">(Planned) Retirement Age</label>
    <input type="number" name="pRetirementAge" id="pRetirementAge">
    <label for="salary">Annual Income</label>
    <input type="number" name="salary" id="salary">
    <label for="zip">Zip Code</label>
    <input type="number" name="zip" id="zip">
    <input class="btn" type="submit" name="submit" value="Continue">
</form>
</div>
</div>