<div class="container">
  <div class="leftMain box">
    <div class="lmTop box">
      <h1>(name)'s Dashboard</h1>


    </div>
    <div class="lmMid box">
      <div class="lmMidLeft box">
        <app-status/>
      </div>
      <div class="lmMidCenter box">
        <app-expenses/>
      </div>
      <div class="lmMidRight box">

      </div>

    </div>
    <div class="lmBot box">
      <div class="lmBotLeft box">
        <app-history></app-history>
      </div>
      <div class="lmbotRight box">
        <app-monthly-expenses></app-monthly-expenses>
      </div>

    </div>

  </div>
  <div class="rightMain box">
    <app-map></app-map>
  </div>

</div>
