
header{
    background-color: #004977;
}

.nav-link{
    color: #D9D9D9;
}


h3{
    text-align: center;
    font-family: 'Jost', sans-serif;
    font-weight: 525;
}

.container-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7.5vh; /* Set container height to 7.5% viewport height */
}
.btn-custom{
    background-color: #004977;
    border-color: #004977;
    color: white;
    font-family: 'Jost', sans-serif;
    font-size: 30;
    font-weight: 525;
    width: 13%;
    height: 80%;
    border-radius: 12px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}
.btn-custom:hover{
    background-color: #023454;
    color: white;
}
