<div class="container">
  <h2 class="header">Sign up</h2>
  <form (ngSubmit)="signup()">
    <input type="text" id="email" name="email" [(ngModel)]="email" required placeholder="Email">
    <input type="password" id="password" name="password" [(ngModel)]="password" required placeholder="Password">
    <input type="password" id="confirmPassword" name="confirmPassword" [(ngModel)]="confirmPassword" required placeholder="Confirm Password">
    <p *ngIf="!matching">Passwords do not match</p>
    <p *ngIf="!matching">Invalid email</p>
    <p *ngIf="!matching">Password cannot be empty</p>
    <button type="button" (click)="closeDialog()">Close</button>
    <button type="submit">Sign up</button>
  </form>
</div>


